.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user {
  display: flex;
  flex-direction: column;
  background: #f2f8fc;
  border: 1px solid #d1dee7;
  padding: 20px;
  border-radius: 5px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.fieldKey {
  min-width: 100px;
  font-weight: bold;
}

.edition {
  button {
    width: 100%;
    margin-top: 20px;
  }

  @media only screen and (min-width: 768px) {
    margin: 20px 0 20px 20px;
  }
}
