.wrapper {
    display: flex;
    gap: 100px;
}

.balanceBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.balance {
    font-weight: bold;
    font-size: 16px;
}

.actionsBlock {
    display: flex;
    gap: 20px;
}

.actionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.errorMessage {
    margin-top: 35px;
    font-weight: bold;
    color: red;
}