.hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  width: 600px;
  padding: 20px;
}

.title, .subtitle {
  margin: 0;
}

.primary {
    background: #00d1b2
}

.secondary {
    background: rgb(220, 220, 220);
}